@model IEnumerable<Cliente>
@{
    ViewData["Title"] = "Início";
}

<h1>Index</h1>

<table>
    <thead>
        <tr>
            <td>Nome</td>
            <td>Sobrenome</td>
            <td>CPF</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var cliente in Model)
        {
            <tr>
                <td>@cliente.Nome</td>
                <td>@cliente.Sobrenome</td>
                <td>@cliente.Cpf.Numero</td>
                <td><a asp-controller="Clientes" asp-action="Editar" asp-route-id="@cliente.Id">Editar</a></td>
            </tr>
        }
    </tbody>
</table>

